html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust:100%;
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
	height:100%;
}
body {
	margin: 0 !important;
	padding: 0 !important;
	background-image: url("/img/layout/background.jpg");
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-color: #c9c5bc;
	font:100% Arial, sans-serif;
}

/*** Layout of Page - Wrap (Header -> Nav -> Aside + Main) ***/
#wrap {
	width: 1000px;
	background-color: #f7f4eb;
	min-height:100%;
	margin: 0 auto 10px auto;
	overflow: hidden;
	border: 1px solid #666;
	border-top: 0;
}
.logo {
	background-image: url("/img/layout/logo.jpg");
	width: 204px;
	height: 251px;
	float: left;
	border-bottom: 4px solid #e8130b;
	background-color: #e0dcd9;
}
img {
	border: 0;
}
.back-image {
	background-image: url("/img/layout/header.jpg");
	width: 796px;
	height: 215px;
	float: left;
	top: 0;
	background-color: #a3958a;
}
nav {
	border-bottom: 4px solid #e8130b;
	height: 36px;
	width: 796px;
	float: left;
	background-color: #7a7067;
	background-image: linear-gradient( 0deg, #9a9087, #7a7067 );
}

body#home a#home-nav,
body#reference a#reference-nav,
body#certifikaty a#certifikaty-nav,
body#kontakt a#kontakt-nav {
	color:#333;
}
nav a {
	color: #fff;
	font-weight: 600;
	line-height: 36px;
	margin-left: 30px;
}
nav a:hover {color: #333;}
aside {
	background-color: #f1eee9;
	background-image: linear-gradient( 90deg, #f1eee9, #eae6e1 );
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: right 0;
	float: left;
	width: 204px;
	text-align: center;
	font-size: 0.625em;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
	line-height: 1.4;
}
aside:before {
	background-color: #f4f2ee;
	content: '';
	display: inline-block;
	height: 180px;
}
main {
	box-sizing: border-box;
  padding: 10px 40px 40px 40px;
	background-color: #f8f5ec;
	background-image: url("/img/layout/content.jpg");
	background-position: 0 -6px;
	background-repeat: no-repeat;
	float: left;
	width: 796px;
	font-size: 0.75em;
	line-height: 1.4;
}

/*** Links ***/
a,a:hover {color: #ff4033; text-decoration: none;}

/*** Text ***/
h1 {font-size: 1.5em; color: #808080;}
h2 {font-size: 1.25em; color: #ff4033;}
h3 {font-size: 1.25em;	margin: 10px 0 5px 0;}
h4 {font-size: 1em;	margin: 0; text-decoration: underline; padding-bottom: 0.5em;}

/*** Text colors ***/
.red {color: #ff4033;}
.grey {color: #808080;}

/*** Rest ***/
.right {float: right;}
img.dotted {
	border: 1px dotted #444;
	margin-bottom: 20px;
}
img.border {
	border:1px solid #000;
	box-shadow: 1px 1px 2px 2px #888888;
	margin: 8px 0 8px 0;
}
strong {display:block;font-weight:bold;}
.container {margin-bottom: 40px; overflow:hidden;}
.clearfix {margin-bottom: 100px; clear: both;}
iframe {border: 0;}
hr {margin: 1em; border: 0;	clear: both;}
ul {
	margin-top: 0.1em;
	margin-bottom: 5px;
	list-style-type: disc;
}
.tel {font-weight: bold;}
.no-margin {margin: 0;}

.ref-image {
  float:right;
	min-height: 100px;
  width:250px;
  margin:5px 5px 0 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px dotted #444;
  overflow: hidden;
}
.ref-image img {display: block; margin:auto; vertical-align: center;}
label {
  display:block;
	line-height: 24px;
	float:left;
	width:200px;
	height:24px;
  background: #e8130b;
	color:#fff;
  font-weight: bold;
	margin: 5px 20px 28px 0;
	cursor:pointer;
  text-align: center;
	-webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}
label:hover {
  color:#fff;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background: #a11;
}

input[type="radio"] {display:none;}
input[type="radio"]:checked + label  {
  background: #a11;
  color:#fff;
}

input[type="radio"][id="ps"]:checked ~ .sns,input[type="radio"][id="ps"]:checked ~ .os,
input[type="radio"][id="sns"]:checked ~ .ps,input[type="radio"][id="sns"]:checked ~ .os,
input[type="radio"][id="os"]:checked ~ .ps,input[type="radio"][id="os"]:checked ~ .sns {
	width:0;
	height:0;
	padding:0;
	margin:0;
	opacity:0;
}
.tile {
	width:100%;
	float:left;
	margin-bottom:30px;
	overflow:auto;
  transition: opacity .5s ease-in-out;
}

#header {
	background-image: url("/img/layout/header.jpg");
	width: 1000px;
	height: 215px;
}
#nav {
	background-image: url("/img/layout/menu.jpg");
	border-bottom: 4px solid #e8130b;
	height: 36px;
	padding-left: 230px;
}

#nav a {
	color: #fff;
	font-weight: 600;
	line-height: 36px;
	margin-right: 20px;
}
#nav a:hover {color: #333;}
#aside {
	background-color: #f1eee9;
	background-image: linear-gradient( to left top, #dfdad3, #f1eee9);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: right 0;
	float: left;
	width: 204px;
	text-align: center;
	font-size: 0.625em;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
	line-height: 1.4;
}
#aside:before {
	background-color: #f4f2ee;
	content: '';
	display: inline-block;
	height: 180px;
}
#main {
	box-sizing: border-box;
  padding: 10px 40px 40px 40px;
	background-color: #f8f5ec;
	background-image: url("/img/layout/content.jpg");
	background-position: 0 -6px;
	background-repeat: no-repeat;
	float: left;
	width: 796px;
	font-size: 0.75em;
	line-height: 1.4;
}
.org {
	font-weight: bold;
}
section {
	border: 1px solid #aaa;
	margin-top: 15px;
	padding: 5px 25px 15px 25px;
	background-color: rgba(255, 255, 255, 0.3);
}
.ul-check-mark {
    list-style: none;
    padding: 0;
    margin: -10px 0 0 0;
}
.li-check-mark {
	padding-bottom: 3px;
}
.li-check-mark:before {
    content: "\2713";
    padding-right: 8px;
		margin-top: 10px;
}
.black {
	color: #444;
}
.signature {
	margin: -60px -30px 0 100px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.img-padding {
	padding-top: 5px;
}
